body {
  margin: 0;
}

header {
  display: flex;
  height: 100px;
  background-color: #979297;
}

button {
  background-color: inherit;
  border-style: none;
  font-size: 30px;
  color: white;
  padding: 15px;
  font-family: "Century Gothic", sans-serif;
}

button:hover {
  background-color: rgb(85, 87, 107);
}

.wrapper {
  display: flex;
  height: auto;
}

.column-one {
  height: inherit;
  width: 50%;
  background-color: white;
  padding: 60px;
  font-family: "Century Gothic", sans-serif;

}

.column-two {
  display: flex;
  flex-direction: column;
  height: inherit;
  width: 50%;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
  font-family: "Century Gothic", sans-serif;
}

.image {
  height: 350px;
  width: 85%;
  margin: 20px;
  margin-top: 50px;
  background-image: url(../ocean.jpg);
  background-size: cover;
  align-self: center;
}

footer {
  height: 100px;
  background-color: #979297;
}
